<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="CLR Extensions Ruleset" Description="CLR Baseline Rules" ToolsVersion="10.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="Warning" />
  </Rules>
</RuleSet>